replicaCount: 2

image:
  repository: cs-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 80
  targetPort: 8085

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: cs-service.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

database:
  enabled: true
  host: localhost
  port: 3306
  name: passit_db
  user: passit_user
  password: passit_password

env:
  SPRING_PROFILES_ACTIVE: "production"

startupProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8085
  failureThreshold: 30
  periodSeconds: 10


livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8085
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8085
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

monitoring:
  enabled: true
  path: /actuator/prometheus
  interval: 15s
